<% include ../partials/header %>

    <header class="jumbotron">
        <div class="container">
            <h1><a id="header" href="/posts">Header</a></h1>
            <p>Subtitle</p>
        </div>
    </header>

    <div class="row" style="display: flex; flex-wrap: wrap;">

        <div class="ui top piled segment">
            <div class="ui divided items">
                <% posts.forEach(function(post){%>
                    <div class="item">
                        <div class="image">
                            <a href="/posts/<%= post._id%>" class="ui medium aligned tiny image">
                                <img src="<%= post.image%>">
                            </a>
                        </div>
                        <div class="content">
                            <a class="header" href="/posts/<%= post._id%>"><%= post.title%></a>
                            <div class="meta">
                                <span><%= post.created.toDateString()%></span>
                            </div>
                            <div class="description">
                                <!-- allow HTML to be rendered-->
                                <p><%- post.description.substring(0, 200)%>...</p>
                            </div>
                            <div class="extra">
                                <a class="ui medium teal basic right labeled icon button" href="/posts/<%= post._id%>">
                                <i class="long arrow right icon"></i>
                                    Read More
                                </a>
                            </div>
                        </div>
                    </div>
                <% })%>
            </div>
        </div>

    </div>
<% include ../partials/footer %>
