<% include ../partials/header %>

    <header class="jumbotron">
        <div class="container">
            <h1><a id="header" href="/posts">Header</a></h1>
            <p>Subtitle</p>
        </div>
    </header>


    <div id="postTitle" class="row text-center" style="display: flex; flex-wrap: wrap;">
        <h1><a><%= post.title%></a></h1>
    </div>

        <div class="ui segment">
            <div class="thumbnail">
                <img class="img-responsive" src="<%= post.image%>">
                <div class="caption-full">
                    <!-- Use '-' to allow HTML tag to be rendered and replace newline with <br>-->
                    <p><%- post.description.replace(/(?:\r\n|\r|\n)/g, '</br>')%></p>
                    <div class="ui clearing divider"></div>
                    <p>
                        Posted by <%= post.author.username.split("")[0].toUpperCase() + post.author.username.slice(1) %> | <%= moment(post.created).format('MMM Do YYYY') %> | <%= moment(post.created).format('hh:mm:ss a') %>
                    </p>
                    <% if(currentUser && post.author.id.equals(currentUser._id)) {%>
                        <a class="ui orange medium button" href="/posts/<%= post._id%>/edit">Edit</a>
                        <form id="delete-form" action="/posts/<%= post._id%>?_method=DELETE" method="POST">
                            <input type="submit" class="ui red medium button" value="Delete">
                        </form>
                    <% }%>
                </div>
            </div>
            <div class="text-right">
                <a class="ui primary submit labeled icon button" href="/posts/<%= post._id%>/comments/new">
                    <i class="icon edit"></i>Add new comment
                </a>
            </div>
            <h1 class="ui black header">
              <i class="comments icon"></i>
              <div class="content">
                Comment
              </div>
            </h1>
            <div class="ui clearing divider"></div>
            <div class="ui comments">
                <% post.comments.forEach(function(comment){ %>
                    <div class="comment">
                        <div class="content">
                            <strong class="author"><%= comment.author.username%></strong>
                            <div class="metadata">
                                <span class="pull-right"><%= moment(comment.created).fromNow() %></span>
                            </div>
                            <div class="text">
                                <pre><%= comment.text%></pre>
                            </div>
                            <% if(currentUser && comment.author.id.equals(currentUser._id)) {%>
                                <a class="ui orange small button" href="/posts/<%= post._id%>/comments/<%= comment._id%>/edit">Edit</a>
                                <form id="delete-form" action="/posts/<%= post._id%>/comments/<%= comment._id%>?_method=DELETE" method="POST">
                                    <input type="submit" class="ui red small button" value="Delete">
                                </form>
                            <% }%>
                        </div>
                    </div>
                <% }) %>
        </div>


<% include ../partials/footer %>
